# Determines how nginx handles requests
server {
  # Makes nginx listen on port 8018
  listen 8018;
  # Sets server name to localhost
  server_name localhost;

  # Defines URL paths
  location / {
    # Sets the directory for nginx
    root /usr/share/nginx/html;
    # Default file loaded when accessing a directory
    index index.html;
    # Looks for specified file and folder, then defaults to index
    try_files $uri $uri/ /index.html;
  }
}